
html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family:Arial, Helvetica, sans-serif;
}



.navbar { margin-bottom : 30px !important; }

a {
  color: #26547f;
  text-decoration: none;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

p.block {
  text-align: justify;
}

p.reverse {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: left;
    user-select: none;
}

img {
  padding-bottom: 10px;
  margin-bottom: 15px;
  max-width: 100%;
}

img.unpadded {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

img.thumbnail {
  margin-top: 0.2em;
}

img.thumbnail:hover {
    transform: scale(1.05);
    transition: all ease 150ms;
}

p.imagecaption {
    font-size: 14px;
    font-style: italic;
    text-align: justify;
}

ul.authorlist {
    align-items: inline;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-self: center;
}
/*
li.authorlist {
    margin:04px 40px 40px 40px;
 } */


ul.quicklinks {
  list-style-type: none;
  padding-left: 0rem;
}

ul.quicklinks  li {
  list-style-type: none;
  display:inline;
}

li.pdf li.page li.external_link {
  display:inline;
}

pre.bibtex {
  padding: 1em;
  user-select: all;
  background-color: rgb(241, 241, 241);
  border-radius: 4px;
  border: 1px solid #000000;
}
